.carousel-inner>.item>img {
	object-fit: contain;
	height:300px !important;
	margin:auto !important;
}
.carousel-inner>.item>video {
	object-fit: contain;
	height:300px !important;
	margin:auto !important;
}
